In [1]:
# MY SQL ASSIGNMENT

In [3]:
#ans1 
"""
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. 
A database is usually controlled by a database management system (DBMS).

1.SQL pronounced as “S-Q-L” or as “See-Quel” is primarily called RDBMS or Relational Databases, 
whereas NoSQL is a Non-relational or Distributed Database.
2.Comparing SQL vs NoSQL databases, SQL databases are table-based databases, 
whereas NoSQL databases can be document-based, key-value pairs, and graph databases.
3.SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.
4.Comparing NoSQL vs SQL performance, SQL requires specialized DB hardware for better performance while NoSQL uses commodity hardware.

"""
""""""

''

In [2]:
#ans2
"""
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands  
like CREATE, ALTER, TRUNCATE and DROP. 
These commands are used to create or modify the tables in SQL.

"""
"""
CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
  Syntax
  
  CREATE TABLE table_name
  (
    column_1 datatype,
    column_2 datatype,
    column_3 datatype,
    ....
  );
"""
"""
ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name
and can do add, delete or modify tasks easily.
  Syntax
  
  ALTER TABLE table_name
  ADD column_name datatype;

"""
"""
TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

   Syntax –
     TRUNCATE TABLE table_name;
     
"""
"""
DROP :
This command is used to remove an existing table along with its structure from the Database.

   Syntax –
      DROP TABLE table_name;
"""
""""""

''

In [3]:
#ans 3
"""
The structured query language (SQL) commands deal with the manipulation of data present in the database
that belongs to the DML or Data Manipulation Language."""


"""
INSERT

Insert command is used to insert data into a table.
The syntax for insert command is as follows −

   SYNTAX -
        Insert into table_name (column list) values (column values);

"""
"""
DELETE
Delete command is used to delete records from a database table.
The syntax for the delete command is as follows -

   SYNTAX -
       Delete from <table_name> WHERE condition;
"""

"""
UPDATE

Update command is used to update existing data within a table.

Example

UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;
"""
""""""

''

In [1]:
#ans 4

"""
DQL stands for data query language.It is also a SQL statement that is used to get the data from the given database 
and apply order to it. The SELECT statement is used in the DQL command. With the SELECT command, we can get the data
from the database and manipulate it as we want. 

In the SELECT command, either we can show all the columns, or we can get some specific columns in the result
of the query according to the clause we use in the statement. 

"""

"""
SYNTAX-

SELECT <column-list>FROM<table-name>;
To view all the fields and rows of the table the SELECT command can be given as SELECT * FROM Tablename;

"""
""""""

''

In [3]:
#ans5

"""
A primary key is used to ensure data in the specific column is unique.It uniquely identifies a record in the relational database table.
Only one primary key is allowed in a table.It is a combination of UNIQUE and Not Null constraints.
It does not allow NULL values.Its value cannot be deleted from the parent table.

"""
"""
A foreign key is generally used to build a relationship between the two tables.Tables can allow more than one foreign key.
A foreign key is a field in the table that is the primary key in another table.

"""
""""""

''

In [3]:
#ans6
"""
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test1")
mydb.close()

"""
"""
cursor()
The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements 
to communicate with the MySQL database.

execute()

This method accepts a MySQL query as a parameter and executes the given query.
"""
""""""

''

In [5]:
#ans7
"""
       7 STAGES OF SQL ORDER OF EXECUTION 
1.FROM/JOIN
2.WHERE
3.GROUP BY
4.HAVING
5.SELECT
6.ORDER BY
7.LIMIT/OFFSET

"""
""""""

''